NGX_CORAZA_UPSTREAM=server coraza:9090;
BACKEND_RESPONSE_TIMEOUT=120s

APP_URL=http://host.docker.internal:3000
WAF_LOG_FILE=
WAF_BYPASS_FILE=conf/waf.bypass
WAF_RULES_FILE=rules/mamotama.conf
WAF_STRICT_OVERRIDE=false
