# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.out
*.test

# Editor/IDE files
*.swp
*.swo
*.bak
*.tmp
*.log
*.DS_Store
.vscode/
.idea/

# Dependency management
vendor/
go.sum

# Env files
.env

# OS-specific
Thumbs.db
ehthumbs.db
.DS_Store
